@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900; 1.400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    background-color: #8A996D;
}

header{
    background-color: #34382C;
    display: flex;
    justify-content: center;
    padding: 1% 0%;
}

header div{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    margin: 0% 5%;
}

header div h2{
    margin: auto;
    color: white;
    font-weight: 400;
    font-size: 2vw;
}

header div a{
    color: white;
    text-decoration: none;
    height: auto;
    margin: auto;
    font-size: 1vw;
}


header div a:hover{
    color: rgb(219, 219, 219);
}

header div img{
    width: 7%;
    margin: 5%;
}

.profile-link img {
            width: 22px; 
            height: auto;
            cursor: pointer;
            margin-top: 10px;
        }
/*Inicio da estilizacao do conteudo da pagina inicial*/
.wellcome{
    margin: 0;
    height: 100vh;
    
}

.wellcome img{
    width: 100%;
    height: 100%;
  
}

/*Vitrine*/
.showcase h2{
    color: white;
    text-align: center;
    margin-top: 0;
    font-size: 3vw;
    margin-top: 2%;
}

.showcase p{
    color: white;
    margin: auto;
    font-size: 1.5vw;
    width: 70%;
    margin-bottom: 3%;
}

.div_showcase_content{
    display: flex;
    justify-content: space-evenly;
}

.showcase_content{
    background-color: white;
    border-radius: 18px;
    width: 20%;
    text-align: center;
    align-items: center;
    height: 23vw;
    margin-bottom: 3%;
}

.showcase_content img{
    width: 100%;
    height: 20vw;
}

.showcase_content p{
    color: black;
    font-size: 1.2vw;
}

#button_showcase{
    background-color: #8A996D;
    box-shadow: 6px 5px 13px 3px rgba(0,0,0,0.59);
    padding: 1% 2%;
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
    border-radius: 20px;
    margin-left: 85%;
}

/*Promocao*/
.promotion{
    display: flex;
    background-color: #34382C;
    margin-top: 3%;
}

.promotion h3{
    color: #F7E330;
    font-size: 3vw;
    margin-left: 4%;
}

.promotion p{
    color: white;
    font-size: 2vw;
    width: 60%;
    margin-left: 5%;
    margin-bottom: 0;
}

.promotion b{
    color: #F7E330;
    font-size: 2.6vw;
}

.promotion img{
    width: 100%;
}

#button_promotion{
    background-color: #8A996D;
    box-shadow: 6px 5px 13px 3px rgba(0,0,0,0.59);
    padding: 1% 3%;
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
    border-radius: 20px;
    margin-left: 75%;
    
}

/*Evaluation*/
.evaluation{
    margin-bottom: 5%;
}

.evaluation h3{
    color: white;
    font-size: 400;
    font-size: 3.5vw;
    margin-bottom: 0;
    margin-left: 2%;
}

.evaluation p{
    color: white;
    font-size: 400;
    font-size: 1.2vw;
    margin-bottom: 3%;
    margin-left: 2%;
}

.evaluation-content{
    display: flex;
}

.div-comment{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.comment{
    background-color: #E9E3C2;
    width: 95%;
    display: flex;
    margin: auto;
    padding: 1%;
    margin-bottom: 2%;
}

.comment-text{
    display: block;
}

.comment h2{
    color: black;
    font-size: 1.3vw;
    margin-left: 5%;
}

.comment p{
    color: black;
    font-size: 1vw;
}

.comment img{
    width: 50%;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    padding: 2% 0;
}

footer span{
    width: 100%;
    height: 1.2px;
    background-color: white;
    color: transparent;
    font-size: 0vw;
    display: flex;
}

footer div h2{
    margin: auto;
    color: white;
    font-weight: 400;
    font-size: 2vw;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

.content-footer{
    display: flex;
    justify-content: space-evenly;
}

.content-footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.content-footer h4{
    color: white;
}

.content-footer a{
    color: white;
    text-decoration: none;
}

#sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sociais img{
    width: auto;
    height: 20%;

}

/* pagina contato */
.content-contact {
    margin-top: 0;
}

.content-contact div{
    margin-top: 0;
    background-image: url("img/PagContatos.png");
    height: 45vw;
    width: 100%;
}

.content-contact h2{
    color: white;
    position: absolute;
    margin-top: 25%;
    font-size: 5vw;
    width: 50%;
    margin-left: 4%;
}

.content-contact p{
    color: white;
    width: 80%;
    margin: auto;
    font-size: 1.6vw;
    margin-top: 3%;
}

/* informacoes de contato */
.content-all-contact h3{
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}

.content-info{
    background-color: #313727;
    width: 80%;
    margin: auto;
    padding: 5% 1.5%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.content-info p{
    color: white;
    font-size: 1.4vw;
}

/* formulario */
textarea:focus, input:focus{
    outline: none;
}

form{
    background-color: #313727;
    width: 80%;
    margin: auto;
    padding: 5% 1.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

form h4{
    color: white;
    font-size: 1.6vw;
    margin: auto;
}

.field-staff{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vw;
}

.field-staff label{
    color: white;
}

.field-staff input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    width: 90%;
    color: white;
}

.field-message{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.field-message h5{
    color: white;
    font-size: 1.6vw;
    margin-bottom: 1%;
}

.field-message textarea{
    width: 100%;
    height: 8vw;
}

#btn-form{
    width: 30%;
    margin: auto;
    margin-top: 3%;
    cursor: pointer;
    background-color: #8A996D;
    box-shadow: 6px 5px 13px 3px rgba(0,0,0,0.59);
    padding: 1% 3%;
    color: white;
    font-size: 1.4vw;
    border-radius: 20px;
    border: none;
    transition: 0.4s;
}

#btn-form:hover{
    background-color: #717d59;
}

/* Container do formulário de login */
.login-container {
    background-color: #313727; /* Cor de fundo branca */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    width: 300px; /* Largura do container */
    margin: auto; /* Centralizar na tela */
    margin-top: 50px; /* Espaçamento superior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Títulos do formulário */
.login-container h2 {
    margin-bottom: 20px; /* Espaçamento inferior */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centralizar texto */
}

/* Estilo dos campos de entrada */
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}


/* Botão de login */
.login-container button[type="submit"] {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    background-color: #8A996D; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s; /* Transição suave */
}

/* Estilizar link para cadastrar-se */
.login-container a {
    text-decoration: none; /* Sem sublinhado */
    color: #fff; /* Cor do texto */
    margin: 20px auto 0 auto;

}



.next-button {
    width: 200px;
    padding: 10px;
    background-color: #2c331d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
}

/* Checkbox e label */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
}

.checkbox-container label {
    color: #fff; /* Cor do texto */
}

/* Estilos dos botões de login */
.button-login-container {
    text-align: center;
    margin-top: 50px;
}
.button-login-container h1{
    color: #fff;
}


.button-login a {
    text-decoration: none;
}

.button-login button {
    background-color: #6a7552;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-login button:hover {
    background-color: #717d59;
}

/* Catálogo */
.wellcome-product {
    width: 100%;
    height: 100vh; /* Define a altura para ocupar toda a tela */
    margin: 0; /* Remove margens */
    padding: 0; 
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    overflow: hidden; /* Impede que a imagem esticada ultrapasse os limites do contêiner */
}

/* Estilizando a imagem dentro de .wellcome-product */
.wellcome-product img {
    width: 100%; /* Estica a imagem horizontalmente */
    height: 100%; /* Estica a imagem verticalmente */
    object-fit: cover; /* Faz a imagem cobrir todo o contêiner */
}
.inicial_content_catalogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar horizontalmente */
}


.title-catalog {
    color: #fff; /* Cor do título */
}

.showcase {
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    width: 90%; /* Largura */
}

.showcase h3 {
    color: #fff; /* Cor do título */
    text-align: center; /* Centralizar texto */
}

.div_showcase_content {
    display: flex;
    justify-content: space-evenly;
    
}

.showcase_content {
    background-color: #F7F7F7; /* Fundo cinza claro */
    border-radius: 10px; /* Borda arredondada */
    width: 20%; /* Largura */
    text-align: center; /* Centralizar texto */
    margin-bottom: 20px; /* Espaçamento inferior */
    padding: 10px; /* Espaçamento interno */
    height: 30%;
}



.showcase_content p {
    color: #34382C; /* Cor do texto */
    margin-bottom: 5px; /* Espaçamento inferior */
}
